
<% @posts.each do |post| %>

<div class="post_box">

	<div class="post_header">
		<% @user= User.find(post.user_id) %>
		<div class="post_user">
			<%= link_to user_path(post.user_id) do %>
				<%= image_tag @user.photo, class: 'prof_pic' %>
			<% end %>
			<%= link_to user_path(post.user_id) do%>
			<span class="user_name"><%= @user.name %></span>
			<% end %>
		</div>	
		<span class="timestamp pull-right"><%=distance_of_time_in_words(DateTime.now, post.created_at) %> ago</span>
		 <%=link_to "Delete", post_path(post.id), method: :delete %>
	</div>

	<%= image_tag post.photo,  class: 'photo' %>

	<div class="post_body pull-left">
		<span class="user_name"><%= @user.name %></span>
		<span class="post_description"><%= post.description %></span>
	</div>

<div class= "comments">

	<% post.comments.each do |comment| %>
		<p><%= User.find(comment.user_id).name %> <%= comment.text %></p>
		<% if user_signed_in? && comment.user_id == current_user.id %>
			<%= link_to "Delete", post_comment_path(post_id: post.id, id: comment.id),  method: :delete %>
		<% end %>
	<% end %>

	<% if user_signed_in? %>
		<%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
	  		<%= f.input :text, label: false, placeholder: "♥️　Add a comment..." %>
	  		<%= f.submit 'Post', class: "btn btn-primary btn-block" %>
		<% end %>
	<% end %>
	</div>
</div>
<% end %>



