<h1> Hello World </h1>

<% @posts.each do |post| %>
	<% @user = User.find(post.user_id) %>
	<%= image_tag @user.photo %>
	<%= @user.name %>
	<%= image_tag post.photo %>
	<%= post.description %>
	<%= link_to "View post", post_path(post.id) %>
	<% if post.user_id == current_user.id %>
		<%= link_to "Edit Post", edit_post_path(post.id) %>
		<%= link_to "Delete Post", post_path(post.id), method: :delete %>
	<% end %>

<% if user_signed_in? %>
	<%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
  	<%= f.input :text, label: "Comment", placeholder: "Add a comment:" %>
  	<%= f.submit 'Post', class: "btn btn-primary btn-block" %>
	<% end %>
<% end %>
<% end -%>
